<link rel="stylesheet" href="../css/header.css">

<h1><a href="/">Bengabook</a></h1>
<div class="search-form">
    <form action="/search" method="get">
        <input name="search" id="search" type="text" placeholder="Search users..">
        <button id="search-button">Search</button>
    </form>
</div>
<nav>
    <ul>
        <li> <a href="/profile" class="profile-button">Profile</a></li>
        <li> <a href="/logout" id="logout-button">Logout</a></li>
    </ul>
</nav>