<link rel="stylesheet" href="../../css/components/profile-images.css">

<section class="images">
    <% for (var i = 0; i < user.imgs.length; i++){ %>
        <div class="img-container">
            <img src=<%=`../uploads/${user.imgs[i]}` %>>
        </div>
        <% } %>

</section>
